.nav {

}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav li {
    margin-left: 2rem;
    font-size: 1rem;
}

.nav li a {
    text-decoration: none;
    color: #fff;
}

.nav button {
    background-color: #DD0DB0;
    border: none;
    border-radius: 50px;
    color: #fff;
    padding: .5rem 1.5rem;
    font-size: 1rem;
    box-shadow:  0 1px 5px rgba(0,0,0,.25);
    cursor: pointer;
}