.expense-date {
    background-color: #2A2A2A;
    color: white;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #ececec;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expense-date__month {
    font-weight: bold;
    font-size: .75rem;
}

.expense-date__year {
    font-size: .75rem;
}

.expense-date__day {
    font-weight: bold;
    font-size: 1.5rem;
}